{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Predictocite{% endblock %}

{% block page_content%}
<div class="page-header">
	<h1>Hello, welcome to Predictocite</h1>
	
	<p>Please enter the title and abstract of your paper below to receive a prediciton of how many citations it will attract in the first two years of publication.</p>
	


</div>
<!--{{ wtf.quick_form(form) }}-->

<form class="form form-horizontal" method="post" role="form" name="title-abstract">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.title) }}
  {{ wtf.form_field(form.abstract) }}
  {{ wtf.form_field(form.submit)}}
</form>

<div>
	<p>{% if title %}{{ title }}{% endif %}</p>
	<p>{% if abstract %}{{ abstract }}{% endif %}</p>

</div>

{% endblock %}